<h1>Listing groups</h1>

<table>
  <%= for group <- @groups do %>
    <tr>
      <td><%= group.name %></td>
      <td><%= group.name_eng %></td>
      <td><%= link("show", to: group_path(@conn, :show, group)) %></td>
      <td><%= link("edit", to: group_path(@conn, :edit, group)) %></td>
      <td><%= link("delete", to: group_path(@conn, :delete, group), method: :delete) %></td>
    </tr>
  <% end %>
</table>

<%= link "New Group", to: group_path(@conn, :new) %>
